# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

version: '2'

networks:
  byfn:

services:
  {%- for i in ORG_INDICES %}
  {%- for j in PEER_INDICES %}
  couchdb{{j}}.org{{i}}.{{DOMAIN_NAME}}:
    container_name: couchdb{{j}}.org{{i}}.{{DOMAIN_NAME}}
    image: $IMAGE_NS/fabric-couchdb:$BASE_IMAGE_TAG
    volumes:
      - "./couchdb/local.ini:/opt/couchdb/etc/local.d/local.ini"
    networks:
      - byfn

  peer{{j}}.org{{i}}.{{DOMAIN_NAME}}:
    environment:
      - CORE_LEDGER_STATE_STATEDATABASE=CouchDB
      - CORE_LEDGER_STATE_COUCHDBCONFIG_COUCHDBADDRESS=couchdb{{j}}.org{{i}}.{{DOMAIN_NAME}}:5984
      - CORE_LEDGER_STATE_COUCHDBCONFIG_USERNAME=peer
      - CORE_LEDGER_STATE_COUCHDBCONFIG_PASSWORD=peerpassword
    depends_on:
      - couchdb{{j}}.org{{i}}.{{DOMAIN_NAME}}
  {%- endfor %}
  {%- endfor %}
